<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="it.innove">
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
	<application>
		<service android:name="it.innove.HeadlessJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />
	</application>
</manifest>
